:root {
  --blanco: #fbfbed;
  --beige: #dcdcb9;
  --negro: #1a1a1a;
  --indigo: #659dff;
  --celeste: #92ccf8;
  --aqua: #66b398;
  --musgo: #64956d;
}

body {
  background-color: var(--beige);
}

/* titulo y logo ------------------------ */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: var(--blanco);
}

.logo-container img {
  height: 50px;
}

/* barra de navegación ---------------------- */
header {
  background: var(--aqua);
  color: var(--blanco);
  padding: 1rem 0;
  border-radius: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flexbox;
  list-style: none;
}

.nav ul li {
  margin-left: 20px;
}

ul li a {
  color: var(--blanco);
  text-decoration: none;
  font-weight: bold;
}

/* hero -------------------------------------- */
/* Contenedor general */
.hero-cards {
  padding: 3rem 1rem;
  max-width: 1200px; /* ancho máximo más amplio */
  margin: 0 auto; /* centra el bloque en la página */
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center; /* centra cada tarjeta en su celda */
}

/* Tarjeta */
.hero-card {
  background: var(--blanco);
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

/* Imagen con título encima */
.card-img {
  position: relative;
  display: inline-block;
  width: 100%;
}

.card-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease;
  border-radius: 5px;
}

.card-img h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--blanco);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

/* Hover: oscurece la imagen y cambia el texto */
.hero-card:hover img {
  filter: brightness(60%);
}

.hero-card:hover h3 {
  color: var(--negro);
}

/* Botones ----------------------------------- */
.button {
  display: block;
  background: var(--celeste);
  color: var(--blanco);
  padding: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.button:hover {
  background: var(--indigo);
}

/* info farmacia --------------------------------------- */

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: var(--indigo);
}

div p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: var(--indigo);
}

/* footer ---------------------------------------- */
footer {
  background: var(--aqua);
  padding: 1rem 0;
  border-radius: 5px;
  text-align: center;
}

footer p {
  color: var(--blanco);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socials a {
  color: var(--blanco);
  margin: 0 5px;
  text-decoration: none;
}
