:root {
    --blanco: #fbfbed;
    --beige: #dcdcb9;
    --negro: #1a1a1a;
    --indigo: #659dff;
    --celeste: #92ccf8;
    --aqua: #66b398;
    --musgo: #64956d;
}

/* Carrusel productos --------------------------------- */
.carrusel-productos {
  background-color: var(--beige);
  padding: 2rem 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.carrusel-contenedor{ /* Agregado de clase y posteriormente se separo con cuadricula cada 5 columnas */
  display: grid; /* Metodo de uso: Cuadricula (Grid)*/
  grid-template-columns: repeat(5, 1fr); /* Cambiar el 5 por otro num para columnas */
  gap: 2rem;
  padding: 3rem;
  justify-items: center;
}

.titulo-carrusel {
  text-align: center;
  color: var(--indigo);
  margin-bottom: 1.5rem;
}


/* tarjetas de producto */
.producto {
  flex: 0 0 auto;
  width: 220px;
  scroll-snap-align: center;
  background: var(--celeste);
  border-radius: 10px;
  text-align: center;
}

.producto a{
    text-decoration: none;
}

.producto img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.producto h3 {
  color: var(--indigo);
  margin: 0.6rem 0 0.3rem;
  font-size: 1rem;
}

.precio {
  color: var(--aqua);
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Botones ----------------------------------- */
.button {
    display: block;
    background: var(--celeste);
    color: var(--blanco);
    padding: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
    
}

.button:hover {
    background: var(--indigo);
}

/* info farmacia --------------------------------------- */

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--indigo);
}

div p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--indigo);
}