:root {
    --blanco: #fbfbed;
    --beige: #dcdcb9;
    --negro: #1a1a1a;
    --indigo: #659dff;
    --celeste: #92ccf8;
    --aqua: #66b398;
    --musgo: #64956d;
}

/* categorias de productos ----------------------------*/
.categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 3rem;
  justify-items: center;
}

.cat-card {
  background: var(--celeste);
  border-radius: 10px;
  box-shadow: none;
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 300px;
}

.cat-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.cat-card:hover img {
    filter: brightness(80%);
}

.cat-card h3 {
  color: var(--indigo);
  margin: 0.8rem 0 0.3rem;
}

.cat-card a{
    text-decoration: none;
}

.precio {
  color: var(--aqua);
  font-weight: 600;
}

/* Botones ----------------------------------- */
.button {
    display: block;
    background: var(--celeste);
    color: var(--blanco);
    padding: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
    
}

.button:hover {
    background: var(--indigo);
}

/* info farmacia --------------------------------------- */

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--indigo);
}

div p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--indigo);
}