:root {
  --blanco: #fbfbed;
  --beige: #dcdcb9;
  --negro: #1a1a1a;
  --indigo: #659dff;
  --celeste: #92ccf8;
  --aqua: #66b398;
  --musgo: #64956d;
}

/* grilla de productos -----------------------*/
.productos-contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 1.5rem;
}

/* tarjetas de producto -----------------------*/
.producto {
  flex: 0 0 auto;
  width: 220px;
  scroll-snap-align: center;
  background: var(--celeste);
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;

  /* Control interno de contenido */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* altura estable para todas */
  min-height: 310px;
}

.producto a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

/* imagen de producto */
.producto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

/* nombre del producto */
.producto h3 {
  color: var(--indigo);
  margin: 0.5rem 0 0.2rem;
  font-size: 1rem;
  min-height: 2.4em; /* iguala alturas por líneas */
}

/* precio */
.precio {
  color: var(--aqua);
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 0.5rem;
}
