:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--beige);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    --blanco: #fbfbed;
    --beige: #dcdcb9;
    --negro: #1a1a1a;
    --indigo: #659dff;
    --celeste: #92ccf8;
    --aqua: #66b398;
    --musgo: #64956d;
}

/* Carrusel productos --------------------------------- */
.carrusel-productos {
  padding: 2rem 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.carrusel-contenedor{ /* Agregado de clase y posteriormente se separo con cuadricula cada 5 columnas */
  display: grid; /* Metodo de uso: Cuadricula (Grid)*/
  grid-template-columns: repeat(5, 1fr); /* Cambiar el 5 por otro num para columnas */
  gap: 2rem;
  padding: 3rem;
  justify-items: center;
}

.titulo-carrusel {
  text-align: center;
  color: var(--indigo);
  margin-bottom: 1.5rem;
}

/* Botones ----------------------------------- */
.button {
    display: block;
    background: var(--celeste);
    color: var(--blanco);
    padding: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
    
}

.button:hover {
    background: var(--indigo);
}

/* info farmacia --------------------------------------- */

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--indigo);
}

div p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--indigo);
}