:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--beige);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blanco: #fbfbed;
  --beige: #dcdcb9;
  --negro: #1a1a1a;
  --indigo: #659dff;
  --celeste: #92ccf8;
  --aqua: #66b398;
  --musgo: #64956d;
}

/* Carrusel productos --------------------------------- */

.carrusel-productos h2 {
  color: var(--indigo);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem 0 0.3rem;
}

/* contenedor */
.carrusel-contenedor {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem; /* evita que se corten las tarjetas */
  scrollbar-width: none; /* Firefox */
}

/* ocultar scrollbar en Chrome */
.carrusel-contenedor::-webkit-scrollbar {
  display: none;
}

/* botones del carrusel */
.carrusel-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.btn-izquierda,
.btn-derecha {
  background-color: var(--aqua);
  color: var(--blanco);
  border: none;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* efecto hover */
.btn-izquierda:hover,
.btn-derecha:hover {
  background-color: var(--indigo);
  transform: scale(1.1);
}

/* efecto clic */
.btn-izquierda:active,
.btn-derecha:active {
  transform: scale(0.95);
  background-color: var(--celeste);
}
